#kryptstorm-app {
  height: 100vh;
}
.kryptstorm-app {
  height: auto;
  min-height: 100%;
}

.kryptstorm-app > .wrapper {
  height: auto;
  min-height: 100%;
}

.kryptstorm-app > .wrapper > .content-wrapper {
  min-height: 1126px;
}

.logo-mini > img {
  width: 35px;
  height: 35px;
}
